* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
  }
p{
    padding-left: 5px;
    font-size: 10px;
    height: 30px;
}
input{
    text-align: center;
}
.mainConetner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.element{
    margin: 20px;
    border: solid black 2px;
    min-width: 550px;
    max-width: 45vw
}

.elementHeader{
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
    padding: 5px 0;
    border: solid black 1px;    
}

.CharacterProfileElement{
    display: flex;
    flex-direction: column;
}
.CharacterProfileNamesElement{
    line-height: 30px;
    display: flex;
    flex-direction: column;
    width: 28%;
    text-align: center;
}
.attributeCharacterProfile{
    display: flex;
    flex-direction: row;
}
.CharacterProfileButtonElement{
    display: flex;
    flex-direction: row;
    line-height: 30px;
    justify-content: flex-end;
    width: 72%;

}
.statButton , .weponInput , .lineAdvanceArmour , .basicArmourLi{
    border-top: solid black 1px;
    border-left: solid black 1px;
}
.borderBottom {
    border-bottom: 1px solid black;
}
.CharacterProfileButtonElementLi{
    width: 12.5%;
}
.rollButton , .statButton{
    text-align: center;
    height: 30px;
    width: 100%;
}
.weponUl{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.weponInput{
    width: 100%;
    height: 20px;
}
.weponP{
    line-height: 30px;
    text-align: center;
    padding: 3px;
}
.advenceArmour{
    display: flex;
    width: 100%;
}

.lineAdvanceArmour{
    width: 100%;
    height: 20px;
}
.advenceArmourLongElement{
    width: 45%;
}
.advenceArmourShortElement{
    width: 5%;
    text-align: center;
}
.advenceArP{
    padding-top: 10px;
    line-height: 20px ;
}
.basicArmourLi{
    border-bottom: black solid 1px;
}
.arElementTitle{
    line-height: auto;
    height: auto;
    padding: 2px;
    font-weight: 900;
}
.labelValueInfo{
   display: flex;
   justify-content: space-between;
}
.label{
    display: flex;
    flex-direction: row;
    border-bottom: black 1px solid;
    width: 100%;
    justify-content: space-between;
}
.label > input{
    width: 70%;
}
.shortElement50{
    width: 50%;
}
.longElement100{
    width: 100%;
}
.borderLeft{
    border-left: solid black 1px;
}
.borderTop{
    border-top: 1px solid black;
}
.playerUl , .heroDescriptioneronUl , .expPointUl , .combatMovmentUl , .armourPointsUl , .basicArmour, .basicArmourLi{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.playerLiElement{
    width: 50%;
}
.expPointShort , .combatMovmentLi{
    width: 33.3%;
}
.expPointLong{
    width: 66.6%;
}
.arPontLi{
    text-align: center;
    width: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.arPointLiLeftElement{
    margin-left: 5%;
    margin-right:calc(45% - 100px);
}
.arPointLiRightElement{
    margin-right: 5%;
    margin-left:calc(45% - 100px);
}
.arPontLi > input{
    border: 1px solid black;
    width: 30px;
    height: 30px;
}
.arPointP{
    font-size: 15px;
    height: auto;
    margin: 5px 0;
}
.armourPointsUl{
    background-image: url("./elements/atoms/standing-human-body-silhouette.png");
    background-repeat: no-repeat;
    background-position: center;
}