.element{
    max-width: 50vw;
    margin: 20px;
    border: solid black 2px;
}

.elementHeader{
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
    padding: 5px 0;
    border: solid black 1px;
    
}

.form{
    display: flex;
    flex-direction: row;
    border-bottom: black 1px solid;
}
.name {
    width: 40%;
}

.heroInput {
    width:60%
}

.listHeroDescriptioneron{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.shortElement{
    width: calc(50% - 1px);
}
.longElement{
    width: 100%;
}
.CharacterProfileElement{
    display: flex;
    flex-direction: column;
}
.CharacterProfileNamesElement{
    line-height: 30px;
    display: flex;
    flex-direction: column;
    width: 36%;
    text-align: center;
}
.attribute{
    display: flex;
    flex-direction: row;
}
.CharacterProfileButtonElement{
    display: flex;
    flex-direction: row;
    line-height: 30px;
    justify-content: flex-end;
    width: 64%;

}
.statButton{
    border-top: solid black 1px;
    border-left: solid black 1px;
  
}
.borderBottom{
    border-bottom: 1px solid black;
}
.CharacterProfileButtonElementLi{
    width: 12.5%;
}
.rollButton , .statButton{
    text-align: center;
    height: 30px;
    width: 100%;
}